{% extends 'base.html.twig' %}

{% block title %}
	Mon panier
{% endblock %}

{% block body %}
	<h2>Mon panier
	</h2>
	<div class="my-3">
		<h3 class="mb-3">Liste de mes produits</h3>
		{{ dump(cart
    ) }}

		{% for product in cart %}
			<div class="row my-1">
				<div class="col-md-1"><img src="uploads{{asset(product.object.illustration)}}" class="img-fluid img-thumbnail" alt="{{product.object.name}}"></div>
				<div class="col-md-5">
					<span class="d-block">{{ product.object.category.name}}
						>
					</span>
					<a href="{{path('app_product', {'slug': product.object.slug})}}">{{product.object.name}}</a>
				</div>
				<div class="col-md-3">
					<div class="btn-group me-2" role="group" aria-label="Second group">
						<a href="{{path('app_cart_decrease', {id:product.object.id})}}" type="button" class="btn btn-secondary">-</a>
						<button type="button" class="btn btn-secondary">x{{product.quantity}}
						</button>
						<a href="{{path('app_cart_add', {id:product.object.id})}}" type="button" class="btn btn-secondary">+</a>
					</div>
				</div>
				<div class="col-md-3">{{  (product.object.priceWT * product.quantity)|format_currency('EUR')  }}</div>
			</div>
		{% endfor %}
	
		<hr>

		<div>
			<p>
				Total des produits de votre panier :
				{{ fullQuantityProduct }}
			</p>			<p>
				Total du panier HT : {{getFullPriceHT|format_currency('EUR') }}
			</p>
				<p>
				TVA : {{(getFullPriceWT - getFullPriceHT)|format_currency('EUR')}}
			</p>

	<p>
				Total du panier TTC : {{ getFullPriceWT|format_currency('EUR') }}
			</p>			
	
		</div>

		<hr>
	<button class="btn btn-primary">Valider</button>

		<span class="d-block"><a href="{{ path('app_cart_remove')}}">Supprimer le panier</a></span>
	</div>
{% endblock %}
